body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: white;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.container-h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
}
.container a{
 text-decoration: none;
 background: black;
 color: white;
 padding: 12px 24px;
 display: inline-block;
 border-radius: 25px;
 font-size: 14px;
 text-transform: uppercase;
 transition: 0.4s;
}
.container a:hover{
    background: grey;
}
.gif {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}