:root{
    --primary: rgb(255, 0, 0);
    --bg: #010101
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
body {
    color: rgb(247, 35, 35);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--bg);
}

.navbar {
    border-bottom: 1px solid rgb(106, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(255, 255, 255); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: gray;
}
.navbar .navbar-logo span {
    color: color: var(--primary);

}

