* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-image:url('duabaru.png');
    background-size: cover;
    background-position: center;
}